/ConversionGFX/nbproject/private/
/P-21/nbproject/private/
/P-21/build/
/P-21/dist/
/Practica22-recursividad/nbproject/private/
/Practica22-recursividad/build/
/CertificaadoOracle/nbproject/private/
/CertificaadoOracle/build/
/CertificaadoOracle/dist/